services:
  database:
    container_name: db_gestor
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Digitalsegurogml2024!
      POSTGRES_DB: gestor_tarefas
    volumes:
      - gestor_pgdata:/var/lib/postgresql/data
    ports:
      - '127.0.0.1:5433:5432'

  pgadmin:
    container_name: pgadmin_gestor
    image: dpage/pgadmin4
    restart: unless-stopped
    volumes:
      - gestor_pgadmin:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - '127.0.0.1:5050:80'
    depends_on:
      - database

  backend:
    container_name: gestortarefas_backend
    restart: unless-stopped
    build:
      context: .
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - '127.0.0.1:3010:3000'
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: Digitalsegurogml2024!
      DB_DATABASE: gestor_tarefas
    depends_on:
      - database

volumes:
  gestor_pgdata:
  gestor_pgadmin:
